vendor/
node_modules/
.git/
.gitignore
.env
*.log
storage/*.log
docker/data/
docker/mysql/

public/build/
public/hot
public/storage

bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
