@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

//Combobox
.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 38px;
}
